.git
.env
.env.*
!.env.example
!.env.cicd.example
bin
data
environments
output
frontend/node_modules
web/dist
deploy/kubernetes/deploy.yaml
deploy/project-archives.yaml
deploy/kubernetes/secrets.env
terraform/**/.terraform
terraform/**/terraform.tfstate*
*.log
*.tfplan
.DS_Store
