.DS_Store
.env
.env.cicd
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
secrets.auto.tfvars
*.pem
/bin/
/data/
/data-cicd/
/output/
/environments-cicd/
/environments/*.yaml
/frontend/node_modules/
/.idea/
/.vscode/
coverage/
*.coverage
*.prof
deploy/kubernetes/secrets.env
deploy/kubernetes/deploy.yaml
deploy/project-archives.yaml
deploy/aws/iam/*-local.json
deploy/aws/iam/*-uploader-policy.json
!deploy/aws/iam/*.example.json
docs/*-private.md
docs/*-prod-*.md
